:root {
    --main-orange: #f46524;
    --main-blue: #223458;
    --main-background: #e8dbc7;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    background-color: var(--main-blue);
    font-family: 'Montserrat', sans-serif;
}

main {
    display: flex;
}

.profile-main-container {
    width: 30vw;
    height: 100vh;
    background-color: var(--main-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-shadow: 2px 0 10px black;
    z-index: 1;
}

.profile__background-image {
    height: 30vw;
    width: 30vw;
    margin-bottom: 25px;
    border: none;
    background-image: url('./assets/background-profile-pic.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.profile__description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__description h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 12px;
}

.profile__description h3 {
    font-size: 1.6rem;
    text-align: center;
    color: var(--main-orange);
    margin-bottom: 12px;
}

.profile__description a {
    height: 20px;
    width: 20px;
}

.description__button {
    display: inline;
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.description__button img {
    height: 24px;
    width: 24px;
    margin: 8px;
}

.github img:hover {
    transform: rotate(-0.0625turn);
}
.linkedin img:hover {
    transform: rotate(0.0625turn);
}

.profile__description .linkedin img {
    width: 27.12px;
}

.profile__buttons {
    position: absolute;
    bottom: 0;
    display: flex;
    height: 28px;
    width: 100%;
    justify-content: space-evenly;
}

.profile__buttons a:hover {
    font-size: 1.6rem;
    font-weight: bolder;
}

.profile__buttons a {
    width: 50%;
    text-align: center;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.buttons--first {
    border-right-width: 1px;
    border-right-style: solid;
    border-image: 
        linear-gradient(
        to bottom, 
        var(--main-blue), 
        rgba(0, 0, 0, 0)
        ) 1 100%;
}

.right__containers {
    width: 70vw;
    height: 100vh;
}

.info-main-container {
    height: 49.5vh;
    margin-top: 1vh;
    padding: 40px;
    background-color: var(--main-background);
}

.info-main-container h3 {
    width: 100%;
    height: 20%;
    font-size: 2.4rem;
    padding-bottom: 24px;
} 

.info-main-container h3 strong {
    color: var(--main-orange)
}

.info-main-container h3::after {
    content: "";
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0.100) 1%, var(--main-blue) 50%, rgba(0, 0, 0, 0.100) 100%);
    height: 1px;
    display: block;
}

.info__secondary-container {
    display: flex;
    width: 100%;
    height: 50%;
}

.info__description,
.info__extra {
    width: 50%;
    font-size: 2rem;
    color: var(--main-blue);
}

.info__description {
    padding-right: 32px;
    border-right-width: 1px;
    border-right-style: solid;
    border-image: 
        linear-gradient(
        to bottom, 
        var(--main-blue), 
        rgba(0, 0, 0, 0)
        ) 1 100%;
}

.info__extra {
    padding-left: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.info__extra ul {
    list-style: none;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.info__extra--first-list li {
    display: flex;
    justify-content: space-between;
}

.info__extra--first-list li p {
    background-color: var(--main-orange);
    color: var(--main-blue);
}

.projects-main-container {
    position: relative;
    z-index: 0;
    height: 49.5vh;
    padding: 32px;
    background-color: var(--main-background);
}

.projects-main-container h3 {
    width: 100%;
    height: 20%;
    font-size: 2.4rem;
    padding-bottom: 24px;
} 

.projects-main-container h3 strong {
    color: var(--main-orange)
}

.projects-main-container h3::after {
    content: "";
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0.100) 1%, var(--main-blue) 50%, rgba(0, 0, 0, 0.100) 100%);
    height: 1px;
    display: block;
}

.projects__arrow {
    position: absolute;
    top: 180px;
    border: none;
    background-color: transparent;
    z-index: 5;
    cursor: pointer;
} 

.projects__arrow img:hover {
    transform: scale(1.05, 1.05);
}

.projects__arrow img {
    height: 40px;
    width: 80px;
    -webkit-filter: drop-shadow(5px 5px 5px 1px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(5px 5px 5px 1px rgba(0, 0, 0, 0.5));
}

.left {
    left: 24px;
    transform: rotate(90deg);
    display: none;
}
/* .left:hover {
    transform: rotate(90deg);
} */
.right {
    right: 24px;
    transform: rotate(270deg);
}

.projects__horizontal-scroll-container {
    display: flex;
    align-items: flex-start;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    height: 80%;
    scroll-behavior: smooth;
}

.projects__horizontal-scroll-container::-webkit-scrollbar {
    display: none;
}

.projects__article {
    /* display: inline-block; */
    border: 1px solid black;
    border-radius: 6px;
    margin: 16px 8px;
    /* margin-top: 16px;
    margin-right: 16px; */
    background-color: var(--main-blue);
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.2);
}

.projects__article a {
    height: 200px;
    width: 360px;
    text-decoration: none;
    color: white;
    display: flex;
}
.projects__article a img {
    height: 200px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.projects__article a div {
    padding: 24px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.projects__article a div h4 {
    font-size: 1.8rem;
    margin-bottom: 16px;
    color: var(--main-orange);
}

.projects__article a div li {
    font-size: 1.2rem;
    margin-left: 24px;
    margin-bottom: 8px;
}

.projects__article:hover {
    transform: scale(1.05, 1.05);
}

@media (max-width: 1180px) {
    .info__secondary-container .info__description, 
    .info__secondary-container .info__extra{
        font-size: 1.4rem;
    }

    .projects__article a {
        height: 180px;
        width: 324px;
    }

    .projects__article a img {
        height: 180px;
    }    

    .projects__article a div h4 {
        font-size: 1.6rem;
        margin-bottom: 12px;
        color: var(--main-orange);
    }
    
    .projects__article a div li {
        font-size: 1rem;
        margin-left: 24px;
        margin-bottom: 6px;
    }
}

@media (max-width: 768px) {
    main {
        display: block;
    }

    .profile-main-container {
        width: 100vw;
    }

    
    .profile__background-image {
        height: 100vw;
        width: 100vw;
    }
    
    .right__containers {
        width: 100vw;
    }

    .info__secondary-container {
        display: block;
    }

    .info__description,
    .info__extra {
        width: 100%;
    }

    .info__description {
        padding-right: 0;
        border-right-width: 0;
        border-image: none;
        margin-bottom: 24px;
    }

    .info__extra {
        margin-top: 20px;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .info__extra::before {
        content: "";
        background-image: linear-gradient(to left,var(--main-blue) 1%, rgba(0, 0, 0, 0.100) 100%);
        height: 1px;
        display: block;
    }

    .info__extra--first-list {
        margin-top: 20px;
    }

    .info-main-container {
        height: 65vh;
        margin-top: 0;
    }

    .projects-main-container {
        height: 65vh;
        margin-top: 0;
    }

    .info__extra li {
        margin-bottom: 5px;
    }

    .projects__arrow {
        display: none;
    }
    
}

@media (max-width: 400px) {
    .projects__article {
        position: relative;
    }

    .projects__article a {
        height: 220px;
        width: 68vw;
    }

    .projects__article a img {
        height: 180px;
        margin-top: 40px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }   
    
    .projects__article a div h4 {
        width: 120px;
        text-align: center;
        position: absolute;
        left: calc(50% - 60px);
        top: 10px;
        margin-bottom: 0;
    }

    .projects__article a div {
        padding: 0;
        padding-top: 52px;
        width: calc(68vw - 109px);
    }

    .projects__article div ul {
        margin: 0 auto;
    }

    .projects__article div li span::before{
        content: "\a";
        white-space: pre;
    }
}
